@import "src/styles.scss";

.header {
  display: flex;
  justify-content: space-between;

  &-user_options {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: $gap-between-buttons;

    &-label {
      font-weight: lighter;

      @media screen and (max-width: $min-general-width) {
        display: none;
      }
    }

    &-name {
      font-weight: $font-bold;
    }
  }
}

@media screen and (min-width: $min-general-width) {
  .main {
    margin: 1rem 3rem;
  }
}

@media screen and (max-width: $min-general-width) {
  .main {
    margin: 1rem;
  }
}
